:root {
  --primary: hsl(25, 97%, 53%);

  --background: #171717;
  --White: hsl(0, 0%, 100%);
  --Light_Grey: hsl(217, 12%, 63%);
  --Dark_Blue: hsl(213, 19%, 18%);
  --inBetween: hsl(221, 22%, 15%);
  --Very_Dark_Blue: hsl(216, 12%, 8%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--Very_Dark_Blue);
  font-family: var(--font-overpass), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
