.page {
  --primary: hsl(25, 97%, 53%);

  --background: #171717;
  --White: hsl(0, 0%, 100%);
  --Light_Grey: hsl(217, 12%, 63%);
  --Dark_Blue: hsl(213, 19%, 18%);
  --inBetween: hsl(221, 22%, 15%);
  --Very_Dark_Blue: hsl(216, 12%, 8%);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.h1 {
  font-weight: 700;
}
.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  background-color: var(--inBetween);
  color: var(--White);
  border-radius: 7%;
  padding: 25px;
}

.starButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;

  color: var(--primary);
  background-color: var(--Dark_Blue);
  border: none;
}
.starButtonImage {
  width: 18px;
  height: 18px;
  margin-left: 2px;
}

.ratingButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  color: var(--Light_Grey);
  background-color: var(--Dark_Blue);
  border: none;
  font-weight: 700;
}
.ratingButton:hover {
  background-color: var(--primary);
  color: var(--background);
}
.ratingButton:active {
  background-color: var(--White);
  color: var(--background);
}
.active {
  background-color: var(--White);
  color: var(--background);
}

.submitButton {
  color: var(--Dark_Blue);
  background-color: var(--primary);
  border-radius: 50px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
}
.submitButton:hover {
  color: var(--background);
  background-color: var(--White);
}
.paragraph {
  font-size: 15px;
  color: var(--Light_Grey);
}

.thankYouCardContainer {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  text-align: center;
}
.thanksDiv {
  color: var(--primary);
  background-color: var(--Dark_Blue);
  border-radius: 20px;
  padding: 5px;
  width: 210px;
  margin: 0 auto;

  align-items: center;
  font-size: 15px;
}
.thanksCard {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  background-color: var(--inBetween);
  color: var(--White);
  border-radius: 7%;
  padding: 25px;
}
.image {
  margin: 0 auto;
}
.h1Thanks {
  margin-top: 15px;
  margin-bottom: -20px;
  padding-bottom: 0;
}
@media (max-width: 1440px) {
}

@media (max-width: 375px) {
  .starButton {
    width: 40px;
    height: 40px;
  }
  .page {
    padding: 20px;
  }
  .ratingButtonContainer {
    width: 300px;
    margin: -10px;
  }
  .ratingButton {
    width: 40px;
    height: 40px;
  }
  .card {
    width: 320px;
    gap: 20px;
  }
  .h1 {
    font-size: 22px;
  }
  .paragraph {
    width: 270px;
    font-size: small;
    line-height: 25px;
  }
  .submitButton {
    width: 100%;
    height: 40px;
  }
  .starButtonImage {
    width: 14px;
    height: 14px;
    margin-left: 2px;
  }
}
